body
{
    margin-left: 150px;
    margin-right: 150px;
    padding: 0px;
    background-color: #ffffff;
}

.community-picture-area
{
    width: auto;
    height: 730px;
    display: grid;
}
.community-picture-background
{
    width: auto;
    height: 335px;
    display: flex;
}
.community-picture-frame1
{
    width: 233px;
    height: 335px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 20px;
}
.community-picture-frame1b, .community-picture-frame1c,
.community-picture-frame1d
{
    width: 233px;
    height: 335px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 200px;
    border-radius: 20px;
}
.community-picture1 img, .community-picture1b img,
.community-picture1c img, .community-picture1d img
{
    width: 233px;
    height: 268px;
    border-radius: 20px;
}
.card-section
{
    width: 209px;
    height: 137px;
    display: grid;
    background-color:  #f7f7f7;
    position: absolute;
    top: 1110px;
    margin: 10px;
    border-radius: 20px;
}
.name
{
    width: 114px;
    height: 19px;
    font: "Poppins", sans-serif;
    font-weight: 600;
    size: 16px;
    line-height: 19.2px;
    color: #141E61;
    margin-left: 20px;
    margin-top: 20px;
}
.mentor
{
    width: 153px;
    height: 25px;
    font: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 23.8px;
    margin-left: 20px;
    color: #6f6f6f;
}
.social
{
    width: 104px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}
.instagram, .twitter,
.linkedin
{
    width: 28px;
    height: 28px;
}
.circle
{
    width: 23.33px;
    width: 23.33px;
    border-radius: 50px;
    background-color: #B6B4B4;
}
.circle img
{
    width: 14px;
    height: 14px;
    margin-left: 5px;
    margin-top: 2px;
}
.community-picture-background2
{
    width: auto;
    height: 335px;
    display: flex;
    margin-top: 50px;
}
.community-picture-frame2
{
    width: 233px;
    height: 335px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 20px;
}
.community-picture-frame2
{
    width: 233px;
    height: 335px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 20px;
}
.community-picture-frame2b, .community-picture-frame2c,
.community-picture-frame2d
{
    width: 233px;
    height: 335px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 200px;
    border-radius: 20px;
}
.community-picture2 img, .community-picture2b img,
.community-picture2c img, .community-picture2d img
{
    width: 233px;
    height: 268px;
    border-radius: 20px;
}
.card-section2
{
    width: 209px;
    height: 137px;
    display: grid;
    background-color:  #f7f7f7;
    position: absolute;
    top: 1500px;
    margin: 10px;
    border-radius: 20px;
}
.social2
{
    width: 104px;
    height: 28px;
    display: flex;
    gap: 5px;
    margin-left: 20px;
}